@model List<Src.Models.ViewData.Table.Menu.ViewTbl_Menu>
@{
    var IList = Model.Where(item => item.PID == null);
}
@foreach (var i in IList)
{
    if (i.HasChild)
    {
        var JList = Model.Where(x => x.PID == i.ID);
        <li class="has-megamenu">
            <a href="@i.Link">@i.Title</a>
            <ul class="mega-menu">
                @foreach (var j in JList)
                {
                    if (j.HasChild)
                    {
                        var KList = Model.Where(x => x.PID == j.ID);
                        <li class="has-children">
                            <span class="mega-menu-title">@j.Title</span>
                            <ul class="sub-menu">
                                @foreach (var k in KList)
                                {
                                    <li><a href="@k.Link">@k.Title</a></li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@j.Link">@j.Title</a></li>
                    }
                }
            </ul>
        </li>
    }
    else
    {
        <li><a href="@i.Link">@i.Title</a></li>
    }
}
<li class="active"><a href="/Page/DailyPriceList">لیست قیمت روز</a></li>