@model Tuple<Src.Models.ViewData.Table.Product.FullSearchResult, string>
@{
    var proc = Model.Item1;
    string cardType = Model.Item2;
    string imgPath = $"/Files/Product/{proc.ID}.jpg";
}
<div class="@cardType col-sm-6 col-xs-12">
    <div class="product-card mb-30">
        <div class="rating-stars">
            @{
                if (proc.Rate > 2)
                {
                    int i = 0;
                    for (i = 0; i < proc.Rate; i++)
                    {
                        <i class="icon-star filled"></i>
                    }
                    if (i < 5)
                    {
                        int diff = 5 - i;
                        for (i = 0; i < diff; i++)
                        {
                            <i class="icon-star"></i>
                        }
                    }
                }
            }
        </div>
        @if (proc.Type == "پیشنهاد ویژه")
        {
            <div class="product-badge bg-danger">@proc.Type</div>
        }
        <a class="product-thumb" href="/Product/ALP-@proc.ID/@proc.Title"><img src="@imgPath" alt="@proc.Title"></a>
        <div class="product-card-body">
            <h3 class="product-title" lang="en"><a href="/Product/ALP-@proc.ID/@proc.Title">@proc.Title</a></h3>
            @if (proc.Type == "اتمام موجودی" || proc.Type == "توقف تولید")
            {
                <h4 class="product-price">---------------</h4>
            }
            else
            {
                <h4 class="product-price">
                    @if (proc.OffPrice != "0")
                    {
                        <del>@proc.Price</del>
                        @proc.OffPrice
                    }
                    else
                    {
                        @proc.Price
                    }
                    تومان
                </h4>
            }
        </div>
        <div class="product-button-group">
            @if (proc.Type == "اتمام موجودی" || proc.Type == "توقف تولید")
            {
                <span class="product-button"><i class="icon-x-circle"></i><span>@proc.Type</span></span>
            }
            else
            {
                <a class="product-button" id="addToCard" data-procID="@proc.ID"><i class="icon-shopping-cart"></i><span>افزودن به سبد خرید</span></a>
            }
        </div>
    </div>
</div>