@model  Src.Models.ViewData.Table.Product.ViewTbl_Proc
@{
    string Title = Model.ID != -1 ? $"ویرایش محصول {Model.Title}" : "افزودن محصول";
}

<link href="~/Areas/Admin/Content/Css/bootstrap-fileupload.min.css" rel="stylesheet" />

<div class="content-group">
    <div class="page-header page-header-default page-header-xs sticky">
        <div class="page-header-content">
            <div class="page-title">
                <h5>
                    <span class="text-semibold">@Title</span>
                </h5>
            </div>
            <div class="heading-elements">
                <button id="btnSaveNext" class="btn bg-teal-800 btn-labeled heading-btn legitRipple"><b><i class="icon-rotate-cw3"></i></b>ثبت و ادامه</button>
                <button id="btnSave" class="btn bg-green-800 btn-labeled heading-btn legitRipple btn-ladda"><b><i class="icon-floppy-disk"></i></b>ثبت</button>
            </div>
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a onclick="pageLoad('/Admin/Dashboard','پنل مدیریت لپتاپ آسیا')"><i class="icon-home position-left"></i> میز کار</a></li>
                <li><a onclick="pageLoad('/Admin/Product', 'لیست محصولات','procList')"><i class="icon-price-Services position-left"></i> لیست محصولات</a></li>
                <li class="active">@Title</li>
            </ul>
        </div>
    </div>
</div>

<div class="content">
    <div class="panel panel-flat bg-none">
        <div class="panel-body">
            <div class="tabbable">
                <ul class="nav nav-tabs nav-tabs-highlight no-border no-shadow">
                    <li class="active"><a data-tab="#Details">جزئیات</a></li>
                    <li><a data-tab="#Imgs">تصاویر</a></li>
                    <li><a data-tab="#Props">ویژگی ها</a></li>
                </ul>
                <div class="tab-content bg-white rounded-tab">
                    <div class="tab-pane active" id="Details">
                        @Html.Partial("/Areas/Admin/Views/Partial/Product/ProcDetails.cshtml", Model)
                    </div>
                    <div class="tab-pane" id="Imgs">
                        @Html.Partial("/Areas/Admin/Views/Partial/Product/ProcImg.cshtml")
                    </div>
                    <div class="tab-pane" id="Props">
                        @Html.Partial("/Areas/Admin/Views/Partial/Product/ProcProp.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Scripts/Plugin/uniform.min.js"></script>
<script src="~/Areas/Admin/Scripts/Plugin/touchspin.min.js"></script>
<script src="~/Areas/Admin/Scripts/Plugin/maxlength.min.js"></script>
<script src="~/Areas/Admin/Scripts/Core/jquery.validate.min.js"></script>
<script src="~/Areas/Admin/Scripts/Plugin/bootstrap-fileupload.js"></script>
<script src="~/Areas/Admin/Scripts/Core/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Areas/Admin/Scripts/Core/makepaging.js"></script>
<script src="~/Areas/Admin/Scripts/Page/Product/procAddEdit.js"></script>
<script type="text/javascript">
    $(document).ready(() => {
        //variable
        let ProcID = @Model.ID,
            BrandID = $("#BrandID"),
            CatID = $("#TreeSelect"),
            CatList = @Html.Raw(Json.Encode(Model.CatList)),
            BrandList = @Html.Raw(Json.Encode(Model.BrandList));

        //fill select
        if (ProcID == -1)
        {
            clearSelect(BrandID);
            clearMultiSelect(CatID, "CatID");
        }

        $.each(BrandList, (i) => {
            fillSelectSingle(BrandList[i], @Model.BrandID, BrandID);
        });

        $.each(CatList, (i) => {
            fillSelectMulti(CatList, CatList[i], @Model.CatID, CatID, "CatID", true);
        });
    });
</script>


