@model Src.Models.ViewData.Table.Product.SearchPageModel
@{
    ViewBag.Title = Model.SeoTitle ?? "فروشگاه لپتاپ آسیا";
    Layout = "~/Views/Sheared/_Layout_Primary.cshtml";
}

@section MetaTags{
    <meta name="description" content="@ViewBag.Title">
    <meta name="keywords" content="@Model.Params.Category,@Model.Params.Brand">
    <meta name="author" content="T.Yasaghi">
}

<div class="container padding-top-3x mt-1 padding-bottom-3x mb-1">
    <div class="row">
        <!-- Products-->
        <div class="col-lg-9 order-lg-1">
            <!-- Shop Toolbar-->
            <div class="shop-toolbar padding-bottom-1x mb-2">
                <div class="column">
                    <ul class="breadcrumbs text-right" id="cats">
                        <li><a href='/'>فروشگاه لپتاپ آسیا</a></li>
                    </ul>
                </div>
                <div class="column text-left">
                    <div class="shop-sorting">
                        <label for="sorting">مرتب سازی بر اساس :</label>
                        @Html.DropDownListFor(item => Model.Params.SortBy,
                                        EnumHelper.GetSelectList(typeof(Src.Models.ViewData.Table.Product.SortType)),
                                        new { @class = "form-control", id = "sorting" })

                        <span class="text-muted"></span><span>@Model.ResultCount کالا</span>
                    </div>
                </div>
            </div>
            <!-- Products Grid-->
            <div class="row" dir="rtl">
                @foreach (var item in Model.Results)
                {
                    @Html.Partial("~/Views/Partials/General/Product.cshtml", Tuple.Create(item, "col-lg-4"))
                }
            </div>
            <!-- Pagination-->
            <nav class="pagination hidden">
                <div class="column">
                    <ul class="pages"></ul>
                </div>
            </nav>
        </div>
        <!-- Sidebar-->
        <div class="col-lg-3 order-lg-2">
            <div class="sidebar-toggle position-left"><i class="icon-filter"></i></div>
            <aside class="sidebar sidebar-offcanvas position-left">
                <span class="sidebar-close"><i class="icon-x"></i></span>
                <!-- Widget Categories-->
                <section class="widget widget-categories">
                    <h3 class="widget-title">دستبندی نتایج</h3>
                    <ul lang="en" id="resultCats"></ul>
                </section>
                <!-- Widget Price Range-->
                <section class="widget widget-categories">
                    <h3 class="widget-title">محدوده قیمت مورد نظر</h3>
                    <form class="price-range-slider">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group text-center">
                                    <label for="minPrice" class="d-block text-center p-0">از</label>
                                    <input class="form-control form-control-sm mt-2 mb-2 text-center" type="text" id="minPrice" autocomplete="off">
                                    <label for="minPrice" class="d-block text-center p-0">تومان</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group text-center">
                                    <label for="maxPrice" class="d-block text-center p-0">تا</label>
                                    <input class="form-control form-control-sm mt-2 mb-2 text-center" type="text" id="maxPrice" autocomplete="off">
                                    <label for="maxPrice" class="d-block text-center p-0">تومان</label>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center margin-top-1x">
                                <button class="btn btn-outline-primary btn-sm" type="button" id="filterPrice">اعمال محدودیت</button>
                            </div>
                        </div>
                    </form>
                </section>
                @if (Model.BrandList != null)
                {
                    <section class="widget">
                        <h3 class="widget-title">برند ها</h3>
                        @foreach (var i in Model.BrandList)
                        {
                            string id = $"brand{i.ID}";
                            <div class="custom-control custom-checkbox">
                                @if (Model.Params.Brand.Contains(i.EnTitle.ToLower().Trim()))
                                {
                                    <input class="custom-control-input" type="checkbox" checked id="@id" data-type="brand" value="@i.EnTitle.ToLower().Trim()">
                                }
                                else
                                {
                                    <input class="custom-control-input" type="checkbox" id="@id" data-type="brand" value="@i.EnTitle.ToLower().Trim()">
                                }
                                <label class="custom-control-label" for="@id"><span class="mr-2">@i.Title</span></label>
                            </div>
                        }
                    </section>
                }
                @if (Model.PropList != null)
                {
                    foreach (var i in Model.PropList)
                    {
                        if (i.ValueList.Count > 0)
                        {
                            <section class="widget">
                                <h3 class="widget-title">@i.Title</h3>
                                @foreach (var j in i.ValueList)
                                {
                                    string id = $"prop{j}";
                                    <div class="custom-control custom-checkbox">
                                        @if (Model.Params.Filter.Contains(j))
                                        {
                                            <input class="custom-control-input" type="checkbox" checked id="@id" data-type="prop" data-title="@i.EnTitle" value="@j.ToLower()">
                                        }
                                        else
                                        {
                                            <input class="custom-control-input" type="checkbox" id="@id" data-type="prop" data-title="@i.EnTitle" value="@j.ToLower()">
                                        }
                                        <label class="custom-control-label" for="@id"><span class="mr-2">@j</span></label>
                                    </div>
                                }
                            </section>
                        }
                    }
                }
            </aside>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            //#region variable
            let pageSize = 10,
                count = @Model.ResultCount,
                Params = @Html.Raw(Json.Encode(Model.Params)),
                CatList = @Html.Raw(Json.Encode(Model.CatList)),
                MaxPrice = Params.MaxPrice == 0 ? @Model.MaxResultPrice : Params.MaxPrice,
                Cats = $("#cats"),
                ResultCats = $("#resultCats");
            //#endregion

            //fill cats
            FillCats(CatList, Cats);
            FillResultCats(CatList, ResultCats);
            $("#minPrice").val(numberToCurrency(Params.MinPrice));
            $("#maxPrice").val(numberToCurrency(MaxPrice));

            //change sort
            $("#sorting").change((e) => {
                let value = $(e.currentTarget).val();
                Params.SortBy = value;
                window.location.href = GetSearchLink(Params);
            });

            //filter prop & brand
            $("input[type='checkbox']").change((e) => {
                let value = $(e.currentTarget).val(),
                    type = $(e.currentTarget).attr("data-type"),
                    title = $(e.currentTarget).attr("data-title"),
                    newLink = GetFilterLink(Params, type, value, title);
                window.location.href = newLink;
            });

            //filter price
            $("#filterPrice").click(() => {
                Params.MinPrice = currencyToNumber($("#minPrice").val());
                Params.MaxPrice = currencyToNumber($("#maxPrice").val());
                window.location.href = GetSearchLink(Params);
            });

            //make paging
            makePaging(Math.ceil(count / pageSize), Params.PageNo - 1, Params);
        });
    </script>
}