@using Src.Models.ViewData.Table
@using Src.Controllers
@{
    ViewBag.Title = "فروشگاه لپتاپ آسیا";
    Layout = "~/Views/Sheared/_Layout_Primary.cshtml";
    List<Media.ViewTbl_Media> medias = BaseController.GetMedia(),
                              slider = medias.Where(item => item.Location == (byte)Media.MediaLocation.اسلایدر).ToList(),
                              Banner = medias.Where(item => item.Location == (byte)Media.MediaLocation.بنر).ToList();
    List<Product.FullSearchResult> newProc = ProductController.GetNewest(),
                                   bestSelling = ProductController.GetBestSelling(),
                                   mostVisited = ProductController.GetMostVisited(),
                                   mostPopular = ProductController.GetMostPopular();
    List<Product.Brand> popularBrand = ProductController.GetPopularBrand();
}

@section MetaTags{
    <meta name="description" content="@ViewBag.Title">
    <meta name="keywords" content="shop, e-commerce, modern, flat style, responsive, online store, business, mobile, blog, bootstrap 4, html5, Css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="T.Yasaghi">
}

@section Styles{
    <style type="text/css">
        .card img {
            width: 100%;
            max-height: 212px;
            object-fit: cover;
            object-position: center;
            border-radius: 5px
        }
    </style>
}

@if (slider.Count > 0)
{
    <!-- Main Slider-->
    @Html.Partial("~/Views/Partials/General/MainSlider.cshtml", slider)
}

@if (Banner.Count >= 3)
{
    <!-- Top Categories-->
    <section class="container padding-top-3x padding-bottom-2x">
        <div class="row">
            @Html.Partial("~/Views/Partials/General/TopCategories.cshtml", Banner.Take(3).ToList())
        </div>
    </section>
}

<!-- New Products-->
<section class="container padding-bottom-2x mb-2" dir="rtl">
    <h2 class="pb-3 widget-title">جدیدترین محصولات</h2>
    <div class="row">
        @foreach (var item in newProc)
        {
            @Html.Partial("~/Views/Partials/General/Product.cshtml", Tuple.Create(item, "col-lg-3"))
        }
    </div>
    <div class="text-center"><a class="btn btn-outline-secondary" href="/Search">مشاهده تمام محصولات</a></div>
</section>

@if (Banner.Count > 6)
{
    <!-- Top Categories-->
    <section class="container padding-bottom-2x">
        <div class="row">
            @Html.Partial("~/Views/Partials/General/TopCategories.cshtml", Banner.Skip(3).Take(3).ToList())
        </div>
    </section>
}

@if (bestSelling.Count > 0)
{
    <!-- best selling Products-->
    <section class="container padding-bottom-2x mb-2" dir="rtl">
        <h2 class="pb-3 widget-title">پرفروش ترین محصولات</h2>
        <div class="row">
            @foreach (var item in bestSelling)
            {
                @Html.Partial("~/Views/Partials/General/Product.cshtml", Tuple.Create(item, "col-lg-3"))
            }
        </div>
    </section>
}


@if (mostVisited.Count > 0)
{
    <!-- most visited Products-->
    <section class="container padding-bottom-2x mb-2" dir="rtl">
        <h2 class="pb-3 widget-title">پربازدید ترین محصولات</h2>
        <div class="row">
            @foreach (var item in mostVisited)
            {
                @Html.Partial("~/Views/Partials/General/Product.cshtml", Tuple.Create(item, "col-lg-3"))
            }
        </div>
    </section>
}

<!-- Popular Brands Carousel-->
<section class="bg-secondary padding-top-3x padding-bottom-3x">
    <div class="container">
        <h2 class="h3 text-center mb-30 pb-3">محبوب ترین برندها</h2>
        <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: false, &quot;loop&quot;: false, &quot;rtl&quot;:true, &quot;autoplay&quot;: true, &quot;autoplayTimeout&quot;: 4000, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:2}, &quot;470&quot;:{&quot;items&quot;:3},&quot;630&quot;:{&quot;items&quot;:4},&quot;991&quot;:{&quot;items&quot;:5},&quot;1200&quot;:{&quot;items&quot;:6}} }">
            @foreach (var item in popularBrand)
            {
                string src = $"/Files/ProcBrand/{item.ID}.jpg",
                       link = $"/search?brand={item.EnTitle.ToLower().Trim()}";
                <a class="d-block opacity-75 m-auto w-110 h-110" href="@link"><img src="@src" class="w-110 h-110" alt="@item.Title"></a>
            }
        </div>
    </div>
</section>

@if (mostPopular.Count > 0)
{
    <!-- most visited Products-->
    <section class="container padding-top-3x padding-bottom-2x mb-2" dir="rtl">
        <h2 class="pb-3 widget-title">محبوب ترین محصولات</h2>
        <div class="row">
            @foreach (var item in mostPopular)
            {
                @Html.Partial("~/Views/Partials/General/Product.cshtml", Tuple.Create(item, "col-lg-3"))
            }
        </div>
    </section>
}


<!-- Services-->
<section class="container padding-top-3x padding-bottom-2x" dir="rtl">
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center mb-30">
            <img class="d-block w-90 img-thumbnail rounded mx-auto mb-4" src="~/Content/Images//services/01.png" alt="Shipping">
            <h6 class="mb-2">ضمانت اصالت و سلامت کالا</h6>
        </div>
        <div class="col-md-3 col-sm-6 text-center mb-30">
            <img class="d-block w-90 img-thumbnail rounded mx-auto mb-4" src="~/Content/Images//services/02.png" alt="Money Back">
            <h6 class="mb-2">بازگشت بی قید و شرط محصول</h6>
        </div>
        <div class="col-md-3 col-sm-6 text-center mb-30">
            <img class="d-block w-90 img-thumbnail rounded mx-auto mb-4" src="~/Content/Images//services/03.png" alt="Support">
            <h6 class="mb-2">پشتیبانی 24 ساعته</h6>
        </div>
        <div class="col-md-3 col-sm-6 text-center mb-30">
            <img class="d-block w-90 img-thumbnail rounded mx-auto mb-4" src="~/Content/Images//services/04.png" alt="Payment">
            <h6 class="mb-2">ارسال با پست پیشتاز</h6>
        </div>
    </div>
</section>

